<div class="container">
  <div class="row my-wrapper">
    <div class="col-sm-8">
    <% if current_admin_user==nil %>
     <div class="my-inputs">
     <%= form_for @post , html: { multipart: true } do |f| %>
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this track from being saved:</h2>
    
          <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
        <div class="field">
        <%= f.hidden_field :student_id, value: current_student.id %>
      </div>
          <div class="form-group">
          <textarea class="form-control publish-post" name="body"  rows="3" placeholder="Publish a new post.."></textarea>
          <input type="text" class="form-control my-tags" name="tag_list" placeholder="Enter tags">
        </div>
        <div class="btn-div">
          <button class="btn btn-primary" type="submit">Publish Post</button>
        </div>
        <% end %>
     </div>
    <% end %>
    
    <% @posts.each do |post| %>
     <div class="my-post">
      <div class="post-info">
        <h1><%= post.student.name %></h1>
        
    
      </div>

      
      <p><%= post.body %></p>

      <% @postshow = Post.find(post.id)  %>
      <div id='tag_cloud'>
      <% tag_cloud @postshow.tag_counts, %w{s m l} do |tag, css_class| %>
        <%= link_to tag.name, tag_path(tag.id), class: css_class %>
      <% end %>
    </div>
      <div class="post-likes">
      <% if current_admin_user==nil %>
      <%= link_to like_post_path(@postshow), method: :put do %> 
        <%=image_tag("like.png")%>
        <%= @postshow.get_upvotes.size %>
        <% end %>
      <% end %>
      
      <% if current_admin_user==nil %> 
      <%= link_to dislike_post_path(@postshow), method: :put do %>
        <%=image_tag("dislike.png")%>
        <%= @postshow.get_downvotes.size %>
      <% end %>
      <% end %>
            </div>

            <%= commontator_thread(@postshow) %>
            <% @posts_comments = ActiveRecord::Base.connection.exec_query("select * from active_admin_comments where resource_id =#{post.id} and resource_type='Post'") %>
            <% for @post_comment in @posts_comments %>
            <% @admin_name = AdminUser.where(id: @post_comment['author_id']).take %>
            <p><%= @admin_name.name %>:::
               <%= @post_comment['body'] %></p> 
        
           <% end %>

           <% if current_admin_user!=nil %>
   <td><%= link_to 'New Admin Comment', "admin/posts/#{post.id}" %></td>
   <% end %>

   
    <% if current_student == @postshow.student %>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
     </div>
     
    </div>
    <% end %>
    <div class="col-sm-4">
      <div class="feed">
        <div class="card">
          <div class="card-header">
            Deadlines
          </div>
          <div class="card-body">
            <% @events.each do |event| %>
            <h5 class="card-title"><%= event.title %></h5>
            <p class="card-text"><%= event.body %></p>
            <% end %>
            <% @events.each do |event| %>
            <h5 class="card-title"><%= event.title %></h5>
            <p class="card-text"><%= event.body %></p>
            <% end %>
            <% @events.each do |event| %>
            <h5 class="card-title"><%= event.title %></h5>
            <p class="card-text"><%= event.body %></p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="feed">
        <div class="card">
          <div class="card-header">
            Events
          </div>
          <div class="card-body">
            <% @events.each do |event| %>
            <h5 class="card-title"><%= event.title %></h5>
            <p class="card-text"><%= event.body %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<iframe
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/3d819ddd-e80a-4472-9e2c-aca88941f635">
</iframe>