
<p>sidebar</p>
<% if current_admin_user==nil %>
<%= link_to 'Home',"home" %>
<%= link_to 'All courses',"courses" %>
<%= link_to 'upload cv',"cvs/new" %>
<%= link_to grades_course_path(current_student.id), method: :get do %>Grades<% end %>
<%= link_to 'edit profile',"students/edit" %>
<%= link_to 'Logout', destroy_student_session_path, method: :get %>
<% else %>
<% if current_admin_user.role=="Manager" %>
<%= link_to 'Dashboard',"admin/dashboard" %>
<% end %>
<% if current_admin_user.role=="Supervisor" %>
<%= link_to 'Dashboard',"admin/dashboard" %>
<%= link_to 'See the grades of the students',"coursestudenttracks" %> 
<%= link_to 'Add a new grade for a student',"coursestudenttracks/new" %>
<%= link_to 'Add a new course',"courses/new" %>
<%= link_to 'All courses',"courses/allcourses" %>
<% end %>
<% if current_admin_user.role=="Instructor" %>
<%= link_to 'see all assignments',"assignments" %>
<%= link_to 'Upload new assignment',"totrack" %>
<%= link_to 'see all uploaded assignments',"assignmentstaffstudents" %>
<%= link_to 'Upload new Lecture',"tochoosetrack" %>
<%= link_to 'see all uploaded Lectures',"coursestafftracks" %>
<% end %>
<% end %>

<% if current_admin_user==nil %>
<%= render template: "posts/new" %> 
<% end %>
<h1>Posts</h1>


<% @posts.each do |post| %>
  <div>
    post body : <%= post.body %>
    </br>
    created by : <%= post.student.name %>
    </br>

   <% @postshow = Post.find(post.id)  %>
    <%= link_to like_post_path(@postshow), method: :put do %>
      Like
      <%= @postshow.get_upvotes.size %>
    <% end %>
    
    <%= link_to dislike_post_path(@postshow), method: :put do %>
      DisLike
      <%= @postshow.get_downvotes.size %>
    <% end %>

    <div id='tag_cloud'>
  <% tag_cloud @postshow.tag_counts, %w{s m l} do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>

    <%= commontator_thread(@postshow) %>
    <% @posts_comments = ActiveRecord::Base.connection.exec_query("select * from active_admin_comments where resource_id =#{post.id} and resource_type='Post'") %>
    <% for @post_comment in @posts_comments %>
    <% @user_admin= ActiveRecord::Base.connection.exec_query("select name from admin_users where id=#{@post_comment['author_id']}") %>
    <p><%= @user_admin[0]['name'] %>:::
       <%= @post_comment['body'] %></p> 

   <% end %>

   <% if current_admin_user!=nil %>
   <td><%= link_to 'New Admin Comment', "admin/posts/#{post.id}" %></td>
   <% end %>

   
    <% if current_student == @postshow.student %>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </div>
<br>
<% end %>
<%= render template: "events/index" %>

<iframe
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/3d819ddd-e80a-4472-9e2c-aca88941f635">
</iframe>



