<p id="notice"><%= notice %></p>

<p>
  <strong>Path:</strong>
  <%= @cv.path %>
</p>

<p>
  <strong>Student:</strong>
  <%= @cv.student_id %>
</p>

<%= link_to 'Edit', edit_cv_path(@cv) %> |
<%= link_to 'Back', cvs_path %>
