<p id="notice"><%= notice %></p>

<p>
  <strong>Path:</strong>
  <td><a href='<%=  @cv.path %>'><%= "cv of "+@cv.student.name  %></a></td>   
</p>

<p>
  <strong>Student:</strong>
  <%= @cv.student.name %>
</p>

<% @cvarray.each_with_index do |cv_comment, index| %>
   <% @adminarray.each_with_index do |cv_comment, index| %>
   <% @user_admin= ActiveRecord::Base.connection.exec_query("select name from admin_users where id=#{@adminarray[index]}") %>
   <p> <%= @user_admin[0]['name'] %> : 
     <%= @cvarray[index] %> </p>
    <% end %>
  <% end %>




<%= link_to 'Edit', edit_cv_path(@cv) %> |
<%= link_to 'Back', cvs_path %>
