<%= form_with(model: coursestafftrack, local: true) do |form| %>
  <% if coursestafftrack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coursestafftrack.errors.count, "error") %> prohibited this coursestafftrack from being saved:</h2>

      <ul>
      <% coursestafftrack.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h5>Courses</h5>
  <select name="course_id">
  <% @arrayofcoursenames.each_with_index do |course, index| %>
      <option value="<%= @arrayofcourseids[index] %>"><%= @arrayofcoursenames[index] %></option>
      <% end %>
  </select>
  <br/>
  <br/>
  <div class="field">
  <%= form.hidden_field :staff_id, :value => @staffid %>
</div>
<div class="field">
  <%= form.hidden_field :track_id, :value => session[:track] %>
</div>

<div class="field">
  <%= form.hidden_field :group_id, :value => @groupid %>
  </div>
<p>Material name</p>
<br/>
  <div class="field">
  <%= form.text_field :material_name %>
  </div>
  <br/>
  
  <br/>
  <div class="field">
  <%= form.label :material_type %>
  <%= form.select :material_type, options_for_select([['Lecture', 'Lecture'], ['Other Documnets', 'Other Documents']]) %>
</div>


  <br/>
  <br/>

  <%= form.label :material %>   
  <%= form.file_field :material %>  


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
