<%= form_with(model: coursestafftrack, local: true) do |form| %>
  <% if coursestafftrack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coursestafftrack.errors.count, "error") %> prohibited this coursestafftrack from being saved:</h2>

      <ul>
      <% coursestafftrack.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h5>Courses</h5>
  <%= form.select(:course_id) do %>
    <% @arrayofcoursenames.each_with_index do |course, index| %>
      <% if @coursestafftrack.course_id == @arrayofcourseids[index] %>
      <%= content_tag(:option, @arrayofcoursenames[index], value: @arrayofcourseids[index], selected: true) %>
      <% else %>
      <%= content_tag(:option, @arrayofcoursenames[index], value: @arrayofcourseids[index]) %>
      <% end %>
    <% end %>
  <% end %>

  <br/>
  <br/>
  <div class="field">
  <%= form.hidden_field :admin_user_id, :value => current_admin_user.id %>
</div>
<div class="field">
  <%= form.hidden_field :track_id, :value => session[:track] %>
</div>

<p>Material name</p>
<br/>
  <div class="field">
  <%= form.text_field :material_name, required: true %>
  </div>
  <br/>
  
  <br/>
  <div class="field">
  <%= form.label :material_type %>
  <%= form.select :material_type, options_for_select([['Lecture', 'Lecture'], ['Other Documnets', 'Other Documents']]) %>
</div>


  <br/>
  <br/>

  <%= form.label :material %>  
  <% if @coursestafftrack.material.blank? %>
<br/>
<%= form.file_field :material, required: true  %>
<% else %>
Old file uploaded if you want to change it submit a new one
<br/> 
<a href='<%= @coursestafftrack.material %>'><%= @coursestafftrack.material %></a>
<br/>
<%= form.file_field :material, value: @coursestafftrack.material  %>
<% end %> 


  <div class="actions">
    <%= form.submit "Submit" %>
  </div>
<% end %>
