<p id="notice"><%= notice %></p>

<h1>Coursestafftracks</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coursestafftracks.each do |coursestafftrack| %>
      <tr>
      <td><%= link_to "Download", coursestafftrack.material_url %></td>
        <td><%= link_to 'Edit', edit_coursestafftrack_path(coursestafftrack) %></td>
        <td><%= link_to 'Destroy', coursestafftrack, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coursestafftrack', new_coursestafftrack_path %>
