<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Document Name</th>
      <th>Document Type</th>
      <th>Download Document</th>
      <th>Course Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
  <% @lecture_names.each_with_index do |lecture_name, index| %>
    <tr>
      <td><%= @lecture_names[index] %></td>
      <td><%= @lecture_types[index] %></td>
      <td><%= link_to "Download", @lecture_links[index] %></td>
      <td><%= @arrayofcoursenames[index] %></td>
      <td><%= link_to 'Edit', edit_assignment_path(@lectureobject[index]) %></td>
      <td><%= link_to 'Destroy', @lectureobject[index], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

