<%= form_with(model: assignment, local: true) do |form| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
  <%= form.hidden_field :admin_user_id, :value => current_admin_user.id %>
</div>
<div class="field">
  <%= form.hidden_field :track_id, :value => session[:track] %>
</div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.datetime_select :deadline %>
  </div>
  


<%= form.select(:course_id) do %>
  <% @arrayofcoursenames.each_with_index do |course, index| %>
    <% if @assignment.course_id == @arrayofcourseids[index] %>
    <%= content_tag(:option, @arrayofcoursenames[index], value: @arrayofcourseids[index], selected: true) %>
    <% else %>
    <%= content_tag(:option, @arrayofcoursenames[index], value: @arrayofcourseids[index]) %>
    <% end %>
  <% end %>
<% end %>

<br/>
<br/>

<%= form.label :assignmentfile %>  
<% if @assignment.assignmentfile.blank? %>
<br/>
<%= form.file_field :assignmentfile, required: true  %>
<% else %>
Old file uploaded if you want to change it submit a new one
<br/> 
<a href='<%= @assignment.assignmentfile %>'><%= @assignment.assignmentfile %></a>
<br/>
<%= form.file_field :assignmentfile, value: @assignment.assignmentfile  %>
<% end %>

  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
