<p id="notice"><%= notice %></p>

<h1>Assignments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Download Assignment</th>
      <th>Deadline</th>
      <th>Course</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>

    <% @assignames.each_with_index do |assignment, index| %>
      <tr>
        <td><%= @assignames[index] %></td>
        <td><%= @assigdeadlines[index] %></td>
        <td><%= link_to 'Download', @assignmentlink[index] %></td>
        <td><%= @arrayofcoursenames[index] %></td>
        <td><%= link_to 'Edit', edit_assignment_path(@assignmentobject[index]) %></td>
        <td><%= link_to 'Destroy', @assignmentobject[index], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

