<div class="chat-body">
<div class="container chat-container clearfix">
    <div class="people-list" id="people-list">
      <div class="search">
        <input type="text" placeholder="search" />
        <i class="fa fa-search"></i>
      </div>
      <ul class="list">
      <% @admins.each do |admin| %>
        <li class="clearfix">
          <a href="/admins/messages/<%= admin.id  %>"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar"/></a>
          <div class="about">
            <a href="/admins/messages/<%= admin.id  %>"><div class="name"><%= admin.name %></div></a>
          </div>
        </li>
        <% end %>  
      </ul>
    </div>
    

        <div class="chat">
      <div class="open-list">
        <i class="fa fa-chevron-right"></i>
      </div>
      <div class="chat-header clearfix">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" />
        
        <div class="chat-about">
          <div class="chat-with">Chat with <%= @admin.name %></div>
          <div class="chat-num-messages">already <%= @messages.count %> messages</div>
        </div>
      </div> 




    
      
      <div class="chat-history">
        <ul id="chat_chat">
        <% @messages.each do |message| %>
          <li class="clearfix">
          <%  if message.sender_id == @sender_id then %>
            <div class="message-data align-right">
              <span class="message-data-time" ><%= message.created_at.strftime(' %A  %FT %I:%M %p') %></span> &nbsp; &nbsp;
              <span class="message-data-name" ><%= @admin.name %></span> <i class="fa fa-circle me"></i>
            </div>
            <div class="message other-message float-right">
            <%= message.message %>
            </div>
          </li>
          <% else %> 
          <li>
            <div class="message-data">
              <span class="message-data-name"><i class="fa fa-circle online"></i> <%= @sender_name %></span>
              <span class="message-data-time"><%= message.created_at.strftime(' %A  %FT %I:%M %p') %></span>
            </div>
            <div class="message my-message">
            <%= message.message %>
            </div>
          </li>
          <% end %>
          <% end %>
        </ul>
        
      </div> 
      
      <div class="chat-message clearfix">
        <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>
                
        
        <button id='send'>Send</button>

      </div> 
      
    </div> 
    
  </div> 

</div>


    <script>  


    $(document).on('click','.open-list', function(){
      $('.people-list').hasClass('people-list-opened') ? $('.people-list').removeClass('people-list-opened') : $('.people-list').addClass('people-list-opened');
    })
      
      
      
      
    pusher = new Pusher('ca9e35c50a6cc67c009f', {
          cluster: 'eu',
          encrypted: true
        });
        channel = pusher.subscribe('chat-<%= @sender_model  %>-<%= @sender_id %>');
        channel.bind('chat', function(data) {
          console.log(data)
          $('#chat_chat').append('<li><div class="message-data"><span class="message-data-name"><i class="fa fa-circle online"></i><%= @admin.name %></span><span class="message-data-time">10:20 AM, Today</span></div><div class="message my-message">' +data.message+ '</div></li>');
          $(".chat-history").scrollTop($(".chat-history")[0].scrollHeight);
        });
    $('#send').on('click',function(){
      $('#chat_chat').append('<li class="clearfix"><div class="message-data align-right"><span class="message-data-time" >10:14 AM, Today</span> &nbsp; &nbsp;<span class="message-data-name" > <%= @sender_name %> </span> <i class="fa fa-circle me"></i>'+
        '</div><div class="message other-message float-right">'+ $('#message-to-send').val() +'</div></li>');
        $(".chat-history").scrollTop($(".chat-history")[0].scrollHeight);
      $.ajax({
        url : '<%= message2_url  %>',
        method : 'POST',
        data :{ 'message' : $('#message-to-send').val() ,
                'sender_id' : '<%= @sender_id  %>',
                'sender_model' : '<%= @sender_model  %>',
                'receiver_id' : '<%= @admin.id  %>',
                'receiver_model' : 'admin',
                },
        headers: {
        'X-CSRF-Token': document.querySelector("meta[name=csrf-token]").content
      },
        success : function(){
          $('#message-to-send').val('')
        },
      });
        
      });

    </script>