<p id="notice"><%= notice %></p>
<h5> Student name: </h5>
<%=  @assignmentstaffstudent.student.name %>
<br/>
<br/>
<h5> Course name: </h5>
<%= @assignmentstaffstudent.course.name %>
<br/>
<br/>
<h5> Assignment name: </h5>
<%=  @assignmentstaffstudent.assignment.name %>
<br/>
<br/>
<% if current_student==nil %>
<h5> Uploaded assignment: </h5>
      <% if @assignmentstaffstudent.file_url==nil %>
      <p></p>
      <% else %>
      <%= link_to "Download", @assignmentstaffstudent.file_url %>
      <% end %>
      <br/>
      <br/>
      <% if @assignmentstaffstudent.codeReview==nil %>
      <form accept-charset="UTF-8" action="<%=  @assignmentstaffstudent.id %>/submitcodereview" method="post">
      <textarea name="codeReview" rows="4" cols="50"> </textarea>
      <% else %>
      <textarea name="codeReview" rows="4" cols="50"> <%= @assignmentstaffstudent.codeReview %> </textarea>
      <% end %>

<input type=submit value=Review />
</form>
<% end %>

