<%= form_with(model: coursestudenttrack, local: true) do |form| %>
  <% if coursestudenttrack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coursestudenttrack.errors.count, "error") %> prohibited this coursestudenttrack from being saved:</h2>

      <ul>
      <% coursestudenttrack.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= form.select(:student_id) do %>
    <% @studentnames.each_with_index do |student, index| %>
      <%= content_tag(:option, @studentnames[index], value: @studentids[index]) %>
    <% end %>
  <% end %>
  </div>
  

<div class="field">
<%= form.select(:course_id) do %>
  <% @coursenames.each_with_index do |course, index| %>
    <%= content_tag(:option, @coursenames[index], value: @courseids[index]) %>
  <% end %>
<% end %>
</div>


<div class="field">
  <%= form.label :grade %>   
  <%= form.number_field :grade , required: true, min: 0 %>
  </div>

  <div class="actions">
    <%= form.submit "Upload Grade"%>
  </div>
<% end %>
