<p id="notice"><%= notice %></p>

<h1>Coursestudenttracks</h1>

<table>
  <thead>
    <tr>
    <th>Students/Courses<th>
    <% @courses.each do |course| %>
        <th><%= course['course_id'] %></th>
    <% end %>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student['student_id'] %></td>
        <td><%= link_to 'Edit', edit_coursestudenttrack_path(student['student_id']) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coursestudenttrack', new_coursestudenttrack_path %>
